.full-width-table {
  width: 100%;
}

.data-table{
  width:80%;
  margin:20px auto;
}
.fa-pencil-square-o{
  color:rgb(59, 206, 235);
  margin-right: 20px;
  transition: 0.3s;
}
.fa-pencil-square-o:hover{
  color:blue;
  cursor: pointer;
}
.fa-check{
  color:green;
  margin-left: 25px;
}
.fa-check:hover{
  cursor: pointer;
  color: rgb(72, 196, 72);
}
.create-ticket-btn{
  color:#673AB7;
  margin-top:20px;
  margin-left:160px;
}

th{
  font-weight: bold;
  font-size:15px;
  border-bottom:#673AB7;
  border-top:#ffd740;
}